<h2><%=  @restaurant.name %></h2>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<% @restaurant.reviews.each do |review| %>
  <p>Review: <%= review.content %>
  <%= review.rating %>/5</p>
<% end %>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Main Page", restaurants_path %>
